body{

    background-image: url('https://img.freepik.com/photos-premium/fond-texture-large-papier-blanc-froisse_35956-4449.jpg?w=2000');
}


.img-fluid {
    /* Centrer l'image dans la page */

    display: flex;
    position: relative;
    margin: 10%;

    /* Créer un cercle en définissant la largeur et la hauteur égales */
    width: 300px;
    height: 300px;
    border-radius: 50%; /* Bordure en forme de cercle */
    overflow: hidden; /* Masquer tout contenu qui dépasse de la bordure */
    border: 3px solid grey;
}

.img-fluid img {
    /* Assurer que l'image remplit entièrement le cercle */
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Étirer ou rétrécir l'image pour remplir la boîte tout en préservant son aspect */
    border-radius: 50%; /* Garantir que l'image à l'intérieur du cercle suit également la forme du cercle */
    border: 3px solid grey;
}   

.first-text h1{
    position: relative;
    font-family: Georgia, 'Times New Roman', Times, serif;
    top: 15%;
    left: -40%;
}
.first-text h2{
    position: relative;
    font-family: Georgia, 'Times New Roman', Times, serif;
    top: 20%;
    left: -40%;
    opacity: 70%;


}

.first-text p{

    position: relative;
    font-family: Georgia, 'Times New Roman', Times, serif;
    top: 20%;
    left: -40%;

}

.row1{

  display: flex;
  flex-direction: row;




}

.first{

position: relative;
top:70%


}

.second{

  position: relative;
  top:70%
  
  
  }

  .third{

    position: relative;
    top:70%
    
    
    }

  .imgcomm{

    width: 200px; 
    height: 150px;
    object-fit: cover;




  }
